.main_footer {
  height: 66px;
  background-color: transparent;

  margin-top: 40px;

  > div {
    padding-top: 20px;

    border-top: 1px solid #333;
  }
}

.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main_footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_footer__copyrights {
  margin-bottom: 0;
}
