.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.title_center {
  text-align: center;
}

.product_page__inner {
  display: flex;
  gap: 50px;

  margin-bottom: 100px;
}

.title_grid_panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_grid_panel__title {
  margin-bottom: 0;
}
