.container {
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main_header {
  height: 130px;
  background-color: transparent;
  color: #333;

  margin-bottom: 40px;

  > div {
    border-bottom: 1px solid #333;
    padding: 20px 0;
  }
}

.main_header,
.header_top,
.header_bottom {
  display: flex;
  align-items: center;
}

.header_top {
  margin-bottom: 40px;
}

.header_top__logo {
  flex: 1 1 0;
  font-size: 27px;
  font-weight: 700;
}

.header_bottom__inner {
  flex: 1 1 0;
}

.header_top__right_menu {
  display: flex;
  align-items: center;
  gap: 15px;
}

.active {
  color: #d94242 !important;
  border-bottom: 2px solid #d94242;
}
