.page_title {
  margin-top: -35px;
  padding: 120px 0;
  background-image: url(../../assets/images/title__bg.jpg);
  background-size: cover;
}

.page_title__title {
  color: #ffff;
  font-weight: 600;
  text-align: center;
  font-size: 55px;
}
